%% -*- Erlang -*-
%%{mime_type, Ext,	MimeType,				Compressible}.

{mime_type, "au",	"audio/basic",				false}.
{mime_type, "snd",	"audio/basic",				false}.
{mime_type, "mid",	"audio/midi",				false}.
{mime_type, "midi",	"audio/midi",				false}.
{mime_type, "mp2",	"audio/mpeg",				false}.
{mime_type, "mp3",	"audio/mpeg",				false}.
{mime_type, "mpeg",	"audio/mpeg",				false}.
{mime_type, "mpga",	"audio/mpeg",				false}.
{mime_type, "aif",	"audio/x-aiff",				false}.
{mime_type, "aifc",	"audio/x-aiff",				false}.
{mime_type, "aiff",	"audio/x-aiff",				false}.
{mime_type, "m3u",	"audio/x-mpegurl",			true}.
{mime_type, "ram",	"audio/x-pn-realaudio",			true}.
{mime_type, "rm",	"audio/x-pn-realaudio",			false}.
{mime_type, "wav",	"audio/x-wav",				true}.
{mime_type, "bmp",	"image/bmp",				true}.
{mime_type, "gif",	"image/gif",				false}.
{mime_type, "ief",	"image/ief",				false}.
{mime_type, "jpe",	"image/jpeg",				false}.
{mime_type, "jpg",	"image/jpeg",				false}.
{mime_type, "jpeg",	"image/jpeg",				false}.
{mime_type, "png",	"image/png",				false}.
{mime_type, "tif",	"image/tiff",				false}.
{mime_type, "tiff",	"image/tiff",				false}.
{mime_type, "wbmp",	"image/vnd.wap.wbmp",			true}.
{mime_type, "ras",	"image/x-cmu-raster",			true}.
{mime_type, "pnm",	"image/x-portable-anymap",		true}.
{mime_type, "pbm",	"image/x-portable-bitmap",		true}.
{mime_type, "pgm",	"image/x-portable-graymap",		true}.
{mime_type, "ppm",	"image/x-portable-pixmap",		true}.
{mime_type, "rgb",	"image/x-rgb",				true}.
{mime_type, "xbm",	"image/x-xbitmap",			true}.
{mime_type, "xpm",	"image/x-xpixmap",			true}.
{mime_type, "xwd",	"image/x-xwindowdump",			true}.
{mime_type, "svg",	"image/svg+xml",			true}.
{mime_type, "iges",	"model/iges",				true}.
{mime_type, "vrml",	"model/vrml",				true}.
{mime_type, "wrl",	"model/vrml",				true}.
{mime_type, "css",	"text/css",				true}.
{mime_type, "htm",	"text/html",				true}.
{mime_type, "html",	"text/html",				true}.
{mime_type, "asc",	"text/plain",				true}.
{mime_type, "txt",	"text/plain",				true}.
{mime_type, "rtx",	"text/richtext",			true}.
{mime_type, "rtf",	"text/rtf",				true}.
{mime_type, "sgm",	"text/sgml",				true}.
{mime_type, "sgml",	"text/sgml",				true}.
{mime_type, "tsv",	"text/tab-separated-values",		true}.
{mime_type, "wml",	"text/vnd.wap.wml",			true}.
{mime_type, "wmls",	"text/vnd.wap.wmlscript",		true}.
{mime_type, "etx",	"text/x-setext",			true}.
{mime_type, "shtml",	"text/x-server-parsed-html",	       	true}.
{mime_type, "xml",	"text/xml",				true}.
{mime_type, "xsl",	"text/xml",				true}.
{mime_type, "qt",	"video/quicktime",			false}.
{mime_type, "mov",	"video/quicktime",			false}.
{mime_type, "mxu",	"video/vnd.mpegurl",			true}.
{mime_type, "avi",	"video/x-msvideo",			false}.
{mime_type, "movie",	"video/x-sgi-movie",			false}.
{mime_type, "zip",	"application/zip",			false}.
{mime_type, "doc",	"application/msword",			true}.
{mime_type, "xls",	"application/ms-excel",			true}.
{mime_type, "ppt",	"application/ms-powerpoint",		true}.
{mime_type, "pdf",	"application/pdf",			true}.
{mime_type, "ps",	"application/postscript",		true}.
{mime_type, "eps",	"application/postscript",		true}.
{mime_type, "oda",	"application/oda",			true}.
{mime_type, "bin",	"application/octet-stream",		true}.
{mime_type, "exe",	"application/octet-stream",		true}.
{mime_type, "class",	"application/octet-stream",		true}.
{mime_type, "so",	"application/octet-stream",		true}.
{mime_type, "dll",	"application/octet-stream",		true}.
{mime_type, "smi",	"application/smil",			true}.
{mime_type, "smil",	"application/smil",			true}.
{mime_type, "wbxml",	"application/vnd.wap.wbxml",		true}.
{mime_type, "wmlc",	"application/vnd.wap.wmlc",		true}.
{mime_type, "wmlcs",	"application/vnd.wap.wmlscriptc",	true}.
{mime_type, "xhtml",	"application/xhtml+xml",		true}.
{mime_type, "bcpio",	"application/x-bcpio",			false}.
{mime_type, "cpio",	"application/x-cpio",			false}.
{mime_type, "pgn",	"application/x-chess-pgn",		true}.
{mime_type, "csh",	"application/x-csh",			true}.
{mime_type, "dvi",	"application/x-dvi",			true}.
{mime_type, "spl",	"application/x-futuresplash",		true}.
{mime_type, "gtar",	"application/x-gtar",			true}.
{mime_type, "gz",	"application/x-gzip",			false}.
{mime_type, "hdf",	"application/x-hdf",			true}.
{mime_type, "js",	"application/x-javascript",		true}.
{mime_type, "latex",	"application/x-latex",			true}.
{mime_type, "cdf",	"application/x-netcdf",			true}.
{mime_type, "sh",	"application/x-sh",			true}.
{mime_type, "shar",	"application/x-shar",			true}.
{mime_type, "swf",	"application/x-shockwave-flash",	false}.
{mime_type, "sit",	"application/x-stuffit",		false}.
{mime_type, "tar",	"application/x-tar",			true}.
{mime_type, "tcl",	"application/x-tcl",			true}.
{mime_type, "tex",	"application/x-tex",			true}.
{mime_type, "texi",	"application/x-texinfo",		true}.
{mime_type, "texinfo",	"application/x-texinfo",		true}.
{mime_type, "t",	"application/x-troff",			true}.
{mime_type, "tr",	"application/x-troff",			true}.
{mime_type, "roff",	"application/x-troff",			true}.
{mime_type, "man",	"application/x-troff-man",		true}.
{mime_type, "me",	"application/x-troff-me",		true}.
{mime_type, "ms",	"application/x-troff-ms",		true}.
{mime_type, "ustar",	"application/x-ustar",			false}.
{mime_type, "iso",	"application/x-iso9660-image",		true}.

%% vim: set filetype=erlang:
