Source: erlang-http
Section: web
Priority: optional
Maintainer: Ruslan Babayev <ruslan@babayev.com>
Build-Depends: debhelper (>= 5), cdbs, autotools-dev, erlang-dev, erlang-nox
Standards-Version: 3.8.0

Package: erlang-http
Architecture: any
Provides: httpd, httpd-cgi
Depends: ${erlang-nox:Depends}
Description: High performance HTTP 1.1 server written in Erlang
 This is a high performance HTTP 1.1 server written in Erlang. It's main
 advantages compared to other web servers are performance and elegance.
 The performance comes from the underlying Erlang system and its ability
 to handle concurrent processes in an efficient way. Its elegance comes
 from Erlang as well. Network applications don't have to be written in
 ugly adhoc languages.
